<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @*TODO get bootstrap from CDN*@
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body class="container d-flex justify-content-center flex-column text-center col-xl-5 col-lg-7 col-md-12">
    @RenderBody()
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", required:false)
</body>
</html>
