@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@{
    Layout = "_Layout";
}
@section scripts {
    @RenderSection("scripts", required:false)
}
<header class="row justify-content-center p-0 m-0">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary col-6">
        <div class="container-fluid">
             <a class="navbar-brand" href="/">CM Blog</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Back to CM.COM</a>
                </li>
                <li class="nav-item">
                    @*<a class="nav-link" asp-area="Admin" asp-controller="BlogPost" asp-action="Index">Admin</a>*@
                    @if (signInManager.IsSignedIn(User))
                    {
                        //is logged in, show sign out link
                        <a class="nav-link" asp-action="Logout" asp-controller="Account">Log Out</a>
                    }
                    else
                    {
                        //else display sign in link
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Log In</a>
                    }
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container p-0">
    @RenderBody()
</div>
<footer class="row text-center">
    <p>&copy; @DateTime.Now.Year - Celestial Machine</p>
</footer>