@{
    Layout = "_Layout";
}
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
             <a class="navbar-brand" href="/">CM Blog</a>
             <a class="nav-item nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
        </div>
    </nav>
</header>
<div>
    @RenderBody()
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - Celestial Machine</p>
</footer>