@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@{
    Layout = "_Layout";
}
@section scripts {
    @RenderSection("scripts", required:false)
}
<header class="">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand m-0 ms-3" href="/">Blog.CelestialMachine.com</a>
        <button type="button" class="navbar-toggler me-3" data-toggle="collapse" data-target="#myNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="navbar-nav ms-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item me-3">
                        <a class="nav-link btn btn-outline-light btn-custom" asp-action="Add" asp-controller="BlogPost" asp-area="Admin">New Post</a>
                    </li>
                    <li class="nav-item me-3">
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button type="submit" class="btn btn-outline-light">Log Out</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item me-3">
                        <a class="nav-link btn btn-outline-light btn-custom" asp-action="Login" asp-controller="Account">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light btn-custom" href="#">Return to Portfolio</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<main class="p-0">
    @RenderBody()
</main>

<footer class="d-flex justify-content-center">
    <p>&copy; @DateTime.Now.Year - Celestial Machine</p>
    @if (signInManager.IsSignedIn(User))
    {
        <a class="nav-link btn btn-outline-light" asp-area="Admin" asp-action="ChangePassword" asp-controller="Account">&nbsp;- Change Password</a>
    }
</footer>