@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}
<section class="blogPreview p-3 rounded-2">
    <div class="row mb-3">
        <h1 class="col offset-2">Login</h1>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
    <form class="row" method="post" asp-action="Login" asp-route-returnutl="@Model.ReturnUrl">
        <div class="row mb-3">
            <label class="col-form-label col-2 offset-2">UserName:</label>
            <div class="col-6">
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-2 offset-2">Password:</label>
            <div class="col-6">
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col offset-4">
                <input type="checkbox" title="Remember me" asp-for="RememberMe" class="form-check-inline" />
                <label>Remember Me</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-8 offset-2 offset-md-4">
                <button type="submit" class="btn btn-custom btn-custom-primary link-custom mb-3 me-3">Log In</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-custom btn-outline-primary link-custom mb-3">Cancel</a>
            </div>
        </div>
    </form>
</section>

