body {
    overflow: visible;
    color: #fff;
}

.starContainer {
    height: 100vh;
    overflow-y: auto;
    perspective: 10px;
}

/* Starfields */
.starfield {
    background: transparent;
    float: left;
    transform-style: preserve-3d;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}

#starfield1 {
    width: .6px;
    height: .6px;
    transform: translateZ(-50px) scale(10);
    left: -4750px;
    top: -4750px;
}

#starfield2 {
    width: 1.2px;
    height: 1.2px;
    transform: translateZ(-30px) scale(6);
    left: -3000px;
    top: -1200px;
}

#starfield3 {
    width: 3px;
    height: 3px;
    transform: translateZ(-10px) scale(2);
    left: -1000px;
    top: -600px;
}

header {
    background-color: #F72585;
    backdrop-filter: opacity(100%);
}

nav{
    max-width: 767px;
    margin: auto;
}

.nav-link{
    color: #fff;
}

.btn.btn-custom:hover {
    color: #F72585;
    background-color: #fff;
}

.btn.btn-custom-primary {
    background-color: #F72585;
    color: #fff;
    backdrop-filter: opacity(100%);
}

.link-custom:hover,
.link-custom:visited,
.link-custom:link,
.link-custom:active {
    color: #fff;
    text-decoration: none;
    backdrop-filter: opacity(100%);
}

.content {
    margin: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #3A0CA3, #8c0d71);
}

main {
    max-width: 767px;
    overflow: visible;
    margin: 3rem auto auto auto;
}

section img {
    width: 100%;
    border-radius: .5rem;
}


.blogPreview {
    background-color: hsla(0, 100%, 100%, 0.1);
    backdrop-filter: blur(1px);
}

@media (max-width: 767px) {
    main {
        width: 100%;
    }

    .nav-item {
        margin-left: 1rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }

    form button, form a {
        width: 100%;
    }
}
