body {
    color: #000;
}

header {
    background-color: #F72585;
}

nav{
    max-width: 767px;
    margin: auto;
}

.nav-link{
    color: #fff;
}

.btn.btn-custom:hover {
    color: #F72585;
    background-color: #fff;
}

.btn.btn-custom-primary {
    background-color: #F72585;
    color: #fff;
}

.link-custom:hover,
.link-custom:visited,
.link-custom:link,
.link-custom:active {
    color: #000;
    text-decoration: none;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 767px;
    margin: 3rem auto auto auto;
}

section img {
    width: 100%;
    border-radius: .5rem;
}
#markdown > p > code {
    background-color: #fff;
    padding: 0px 3px;
    border-radius: 3px;
}
#markdown li a:visited,
#markdown li a:hover,
#markdown li a:link,
#markdown li a:active {
    color: #000;
}

article a:visited,
article a:hover,
article a:link,
article a:active {
    color: #000;
}
@media (max-width: 767px) {
    main {
        width: 100%;
    }

    .nav-item {
        margin-left: 1rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }

    form button, form a {
        width: 100%;
    }
}
