@model BlogPost
@{
    ViewData["Title"] = "Edit";
}
<Section class="text-center col-xl-6 col-lg-8 col-md-12">
    <h1>@ViewBag.Title</h1>
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div>
            <label asp-for="Content" class="form-label">Content</label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        </div>
        <div>
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" class="form-select">
                <option value="">Select a category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="UpdatedDate" />
        <button type="submit" class="btn btn-primary">@(ViewBag.Action == "Edit" ? "Update" : "Post")</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</Section>