@model BlogPost
@{
    ViewData["Title"] = "Delete";
}
<Section class="container border">
    <h2>Confirm Delete</h2>
    <h3>@Model.Title</h3>
    <p>@Model.CreatedDate</p>
    <p>@Model.Content</p>
    <form asp-action="Delete" method="post">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="BlogPost" asp-action="Index" asp-area="" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
    </form>
</Section>

