@model BlogPost
@{
    ViewData["Title"] = "Delete";
}
<Section class="blogPreview rounded-2 p-3">
    <h4 class="bg-danger p-2 text-center rounded-2">Confirm by selecting 'Delete' below. This action is permanent!</h4>
    <h1>@Model.Title</h1>
    <p class="text-white-50">@Model.CreatedDate</p>
    <p>@Model.Content</p>
    <form asp-action="Delete" method="post" class="row m-0">
        <button type="submit" class="btn btn-custom btn-custom-primary link-custom mb-3">Delete</button>
        <a asp-controller="BlogPost" asp-action="Index" asp-area="" asp-route-id="@Model.Id" class="btn btn-custom btn-outline-primary link-custom mb-3">Cancel</a>
    </form>
</Section>

