@model BlogPost
@{
    ViewData["Title"] = "Welcome, Victor";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<section class="container col-6 border">
    <h1>@ViewData["Title"]</h1>
    <h2>Create a new post:</h2>
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div>
            <label asp-for="Content" class="form-label">Content</label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        </div>
        <div>
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" class="form-select">
                <option value="">Select a category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="UpdatedDate" />
        <button type="submit" class="btn btn-primary">Post</button>
        <a asp-controller="BlogPost" asp-action="Index" asp-area="" asp-route-id="@Model.Id" class="btn btn-primary">Cancel</a>
    </form>
</section>
